.basket {
    margin: 45px 0;
  }
  
  .basket .total {
    text-align: right;
    font-size: 1.3rem;
    margin-right: 10px;
  }
  
  .basket button {
    margin-left: 5px;
    margin-top: 5px;
  }